.container-fluid {
    width: auto;
    text-align: center;
}

.button-container{
    text-align: right;
}

/*.container{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}
 */

.container{
    vertical-align: middle;
    horiz-align: center;
    text-align: center;
}

.auth-panel {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
}

